## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## IDE
.vs/
.vscode/
.idea/
*.swp

## Build results
[Dd]ebug/
[Rr]elease/
publish/

## NuGet
*.nupkg
**/packages/*

## Secrets
appsettings.Development.json
